<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>a pure mined currency built for the poa.network</h2>
         </p>
               <br><br>   <h2>for developers:<h2>
        <h3> receive this on-network, pure mined token as funding for your ico or crowdsale</h3>
        <h3> integrate 0xPOA into your next dApp by accepting it as a base currency<h/3>
          <h3><b>bounty:</b> create a workable bridge to ethereum mainnet</h3>
          <br>
          <h2>for miners:</h2>
          <h3>get some poa used for transaction fees</h3>
          <h3>how to mine the tokens from the smart contract</h3>
          <h3>start a community mining pool</h3>
          <Br>
            <h2>for traders:</h2>
            <h3> <b> <p class="lead">tradeable at <a target="_blank" href="https://poa-delta.github.io">POA-DELTA (ALPHA) </a>for native <a target="_blank" href="https://poa.network">POA</a>.
            <h3> store your tokens in any erc20 compatable wallet that can connect to core.poa.network</h3>
              </b>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
