<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>be the one to build the bridge!</h3>
        <a href="https://discord.gg/GHJHZ2a" target="_blank" class="btn btn-lg btn-light">find out more</a><br>
        <a href="https://poaexplorer.com/address/0x3811315ed5f905c226c3c144ccb55af73d601196" target="_blank" class="btn btn-lg btn-dark">0x3811315ed5f905c226c3c144ccb55af73d601196</a>
      </div>
    </div>
  </div>
</aside>
