<aside class="callout">
  <div class="text-vertical-center">
    <h2>key specifications</h2><br>

<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

</style color="black";>
</head>
<body>

<table>
  <tr>
    <th>name</th>
    <th>0xPOA NETWORK TOKEN</th>
    <th></th>
  </tr>
  <tr>
    <td>symbol</td>
    <td>0xPOA</td>
    <td><a href="https://poaexplorer.com/address/0x3811315ed5f905c226c3c144ccb55af73d601196" color="white">contract</a></td>
  </tr>
  <tr>
    <td>total supply</td>
    <td>50,000,000</td>
    <td>tokens</td>
  </tr>
  <tr>
    <td>target reward time</td>
    <td>4</td>
    <td>minutes</td>
  </tr>
  <tr>
    <td>epoch per block</td>
    <td>100</td>
    <td>epoches</td>
  </tr>
  <tr>
    <td>eras</td>
    <td>6</td>
    <td>halvings</td>
  </tr>
  <tr>
    <td>networks</td>
    <td>core.poa.network<br>ethereum mainnet</td>
    <td>bridgable<br>connection</td>
  </tr>
</table>

</body>
</html>
      </div>
</aside>
