<header id="top" class="header">
  <div class="text-vertical-center">
    <h1 style="color:white;">0xPOA</h1>
    <h3 style="color:white;">A MINEABLE TOKEN FOR THE POA.NETWORK</h3>
    <br><br>
    <a href="https://github.com/mining-visualizer/MVis-tokenminer" class="btn btn-dark btn-lg" target="_blank">start mining</a><br><br>
    <a href="https://0xpoa.github.io/0xPOA-Stats/?page=stats&" class="btn btn-dark btn-lg" target="_blank">live stats</a><br><br>
    <a href="https://https://poaexplorer.com/address/0x3811315ed5f905c226c3c144ccb55af73d601196" class="btn btn-dark btn-lg" target="_blank">contract</a>
    <a href="https://discord.gg/GHJHZ2a" class="btn btn-dark btn-lg" target="_blank">discord</a>
    
  </div>
</header>
