<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Menu</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >home</a>
    </li>
    <li>
      <a href="https://github.com/mining-visualizer/MVis-tokenminer" target="_blank" >start mining</a>
    </li>
    <li>
      <a href="https://0xpoa.github.io/0xPOA-Stats/?page=stats&" target="_blank" >statistics</a>
    </li>
    <li>
      <a href="https://poa-delta.github.io/" target="_blank" >poa-delta(alpha)</a>
    </li>
    <li>
      <a href="https://poa.network/" target="_blank" >poa.network</a>
    </li>
    <li>
      <a href="https://poaexplorer.com/address/0x3811315ed5f905c226c3c144ccb55af73d601196" target="_blank" >contract</a>
    </li>
    <li>
      <a href="https://discord.gg/GHJHZ2a" target="_blank" >social</a>
    </li>  
  </ul>
</nav>
